/* NEW CSS */
.ga-welcome-panel {
  background-color: #fff;
  padding: 20px 10px 10px;
  border: 1px solid #ccd0d4;
  box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
  line-height: 1.7;
  font-size: 13px;
}

.ga-welcome-panel .ga-welcome-panel-column-container {
  box-sizing: border-box;
  width: 100%;
  clear: both;
  display: grid;
  z-index: 1;
  padding: 0 20px;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  align-self: flex-end;
  background: #fff;
}

.nav-tabs {
  float: left;
  width: calc(100% - 20px);
  margin: 0;
  list-style-type: none;
  border-bottom: 1px solid transparent;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.5px;
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  float: inherit;
  text-decoration: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.tab-content > .tab-pane {
  float: left;
  width: calc(100% - 20px);
  display: none;
}

.tab-content > .tab-pane.active {
  display: block;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 5px 4px -2px rgba(0, 0, 0, 0.15);
}

.gat-footer {
  clear: both;
  text-align: center;
  padding: 20px;
}

#response-success {
  color: green;
  font-weight: bold;
}
#response-error {
  color: #c3202f;
  font-weight: bold;
}
/* NEW CSS END */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

/* 
 *Balance Container CSS Start
 */

.balance-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px; /* Adjust width as needed */
  margin-bottom: 10px;
}

.balance-label {
  font-weight: bold;
  margin-right: 10px;
}

.balance-value {
  color: green; /* Adjust color as needed */
  font-size: 1.5em;
  font-weight: 700;
  background-color: #b1afaf;
  padding: 5px 10px;
  border-radius: 4px;
}

.button-container {
  text-align: center;
}

.example-text .right {
  display: inline-block;
  margin-left: 10px; /* Adjust the margin as needed */
  background-color: #b1afaf; /* Set the background color to grey */
  color: green; /* Set the text color to green */
  font-size: 1em; /* Optional: Adjust the font size */
  vertical-align: middle; /* Aligns the text with the middle of the input field */
  padding: 5px 10px; /* Optional: Add some padding for better appearance */
  border-radius: 4px; /* Optional: Add border-radius for rounded corners */
}

/* 
* History css 
*/
.table-container {
  width: 100%;
  margin: 20px 0;
  overflow-x: auto;
  max-height: 35em; /* Adjust as needed */
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.custom-table th,
.custom-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.custom-table th {
  background-color: #a7dbb0;
}

.show-more {
  cursor: pointer;
  color: #0073aa;
  text-decoration: underline;
}

.show-more:hover {
  color: #005177;
}

.td-flex {
  display: flex;
  justify-content: space-between;
}
